body {
    background-color: rgb(179, 168, 154);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.title,
.sub-title {
    text-align: center;
}

.container {
    background-color: white;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 20px;
    border: 5px solid black;
    border-radius: 15px;
}

.recipes-links {
    list-style: none;
}

.list {
    text-align: center;
    padding: 0;
}

.food {
    display: block;
    margin: 15px auto;
}

#highlight {
    background-color: yellow;
}

.home-link {
    background-color: white;
    border: 2px solid red;
    padding: 0 15px;
}

a {
    color: black;
    text-decoration: none;
    transition: ease-in-out 0.1s;
}

a:hover {
    color: red;
}